body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.p:hover{
  color:rgb(5, 161, 44);
}
.camera:hover{
  background-color:rgb(248, 254, 254);
  
}
.welcomebtn:hover{
  color:white;
  background-color:rgb(24, 30, 30);
}
.welcome-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  opacity: 0.8;
  z-index: 20;
}

.welcome-message {
  font-size: 50px;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
  padding: 20px;
}

.welcome-text {
  color: black;
  opacity: 1;
}

.welcome-logo {
  height: 70px;
  border-radius: 50%;
  margin-left: 20px;
}

.welcome-btn {
  height: 40px;
  width: 150px;
  text-decoration: none;
  color: black;
  background-color: white;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .welcome-container {
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
  }

  .welcome-message {
    font-size: 30px;
    padding: 10px;
  }

  .welcome-logo {
    height: 50px;
    margin-left: 10px;
  }

  .welcome-btn {
    height: 35px;
    width: 120px;
  }
}

@media (width: 390px) {
  .welcome-container {
    padding-top:"500px";
    transform: translateX(-50%);
  }

  .welcome-message {
    font-size: 20px;
    padding: 5px;
  }

  .welcome-logo {
    height: 40px;
    margin-left: 5px;
  }

  .welcome-btn {
    height: 30px;
    width: 100px;
  }
}

.buy-now-button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index:"200"
}

.buy-now-button:hover {
  background-color: #45a049;
}
@media (max-width: 768px) {
  div[style*="flex: 1 1 50%"] {
    flex: 1 1 100%;
  }
}/* Styling for the container */
