body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.p{

}
.p:hover{
  color:rgb(5, 161, 44);
}
.camera:hover{
  background-color:rgb(203, 239, 239);
  
}
.welcomebtn:hover{
  background-color:rgb(184, 213, 213);
}
.linear{
  
}